body{
	font-family: arial, sans-serif;
}

.preloader {
    position: fixed;
   	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: #e0e0e0;
	z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 1s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: grey;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  animation: preloader-bounce 0.6s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {

  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

nav {
	width: 100%;
	height: 45px;
	background: #344051;
	position: fixed;
}

.logo{
	color: #fff;
	font-size: 16px;
	line-height: 45px;
	margin-left: 276px;
	float: left;
	-webkit-animation: comming 2s;
	-o-animation: comming 2s:
	animation: comming 2s;
}

@keyframes comming{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

.menu{
	float: left;
	margin-left: 307px;	
}

@keyframes navig{
	from{
		opacity: 0;
		margin-top: -50px;

	}
	to{
		opacity: 1;
		margin-top: 0px;	
	}
}
.menu li{
	color: #fff;
	float: left;
	margin-right: 28px;
	font-size: 12px;
	line-height: 45px;
	text-transform: uppercase;
	-webkit-animation: navig 0.4s forwards;
	-o-animation: navig 0.4s forwards:
	animation: navig 0.4s forwards;
	opacity: 0;
}

.menu li:nth-child(2){
	animation-delay: 0.4s;
}

.menu li:nth-child(3){
	animation-delay: 0.8s;
}

.menu li:nth-child(4){
	animation-delay: 1.2s;
}

.menu li:nth-child(5){
	animation-delay: 1.6s;
}

.menu li:nth-child(6){
	animation-delay: 2s;
}

.menu li a{
	transition: all 0.3s;
	color: #fff;
	display: inline-block;
	transform: scale(1);
}

.menu li a:visited{
	color: #fff;
}

.menu li a:hover{
	color: #e88604;
}

.menu li a:active{
	transform: scale(1.1);
}

.main{
	width: 100%;
	height: 100%;
	box-shadow: inset 0px -5px 30px -10px grey;
	background: url(../img/boy.png) 90% 100%/auto 85% no-repeat, url(../img/fon.png) center/cover no-repeat;
}

.title_container{
	float: left;
	margin: 200px 0px 0px 130px;
	color: #2c384a;
	text-align: center;
	-webkit-animation: hello 1s ease forwards;
	-o-animation: hello 1s ease forwards:
	animation: hello 1s ease forwards;
	animation-delay: 2s;
	opacity: 0;
}

@keyframes hello{
	from{
		opacity: 0;
		margin-left: -400px;

	}
	to{
		opacity: 1;
		margin-left: 130px;	
	}
}

.title_container h1{
	font-size: 50px;
	font-weight: bold;
}

.title_container h4{
	margin-top: 25px;
	font-size: 25px;
	color: #79818d;
}

.title_container input{
	height: 45px;
	text-align: center;
	border: 2px solid #6d7682;
	background: none;
	border-radius: 8px;
	color: #6d7682;
	font-size: 20px;
	padding: 0px 16px;
	margin: 40px 14px 0px 14px;
	transition: all 0.3s;
	transform: scale(1);
}

.title_container input:hover{
	background: #79818d;
	color: white;
}

.title_container input:active{
	transform: scale(1.1);
}

.about{
	width: 700px;
	margin: 78px auto 0px auto;
}

.about h2{
	color: #263244;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}	

.line{
	width: 50px;
	margin: 22px auto 0px auto;
	border: 3px solid #d17700;
	border-radius: 3px;
}

.about img{
	display: block;
	margin: 43px auto 0px auto;
}

.about span{
	display: block;
	margin-top: 15px;
	color: #3f495a;
	font-size: 13px;
}

.about input{
	display: block;
	height: 45px;
	text-align: center;
	border: 2px solid #6d7682;
	background: none;
	border-radius: 8px;
	color: #6d7682;
	font-size: 20px;
	padding: 0px 16px;
	margin: 26px auto 0px auto;
	transition: all 0.3s;
	transform: scale(1);
}

.about input:hover{
	background: #79818d;
	color: white;
}

.about input:active{
	transform: scale(1.1);
}

.skills{
	margin-top: 68px;
	background: url(../img/fon-skills.png);
	height: 374px;
}

.skills h2{
	padding-top: 77px;
	font-size: 23px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	color: #263244;
}

.skills1{
	margin-top: 72px;
	margin-left: 296px;
}

.skills1 p{
	display: block;
	margin-top: 25px;
	color: #cf7600;
	font-size: 13px;
	font-weight: bold;
}

.skills1 span{
	display: block;
	margin: 10px auto;
	color: #3f495a;
	text-align: center;
	font-size: 12px;
}

.skills img{
	height: 30px;
}

.note{
	float: left;
	text-align: center;
	width: 190px;
	height: 157px;
	transition: all 0.6s;
}

.note:hover{
	transform: scale(1.3);
}

.php{
	float: left;
	text-align: center;
	width: 190px;
	height: 157px;
	transition: all 0.6s;
}

.php:hover{
	transform: scale(1.3);
}

.rocket{
	float: left;
	text-align: center;
	width: 190px;
	height: 157px;
	transition: all 0.6s;
}

.rocket:hover{
	transform: scale(1.3);
}

.megaphone{
	float: left;
	text-align: center;
	width: 190px;
	height: 157px;
	transition: all 0.6s;
}

.megaphone:hover{
	transform: scale(1.3);
}

.keys{
	margin-top: 75px;
}

.keys h2{
	font-size: 23px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	color: #263244;
}

.keys h4{
	font-size: 12px;
	color: #3f495a;
	text-align: center;
	margin-top: 25px;
}

.keys img{
	margin-top: 30px;
	height: 416px;
	margin-left: 270px;
}

.keys table{
	width: 835px;
	text-align: left;
	line-height: 25px;
	font-size: 12px;
	margin: 29px 0px 0px 270px;
}

.keys th{
	font-size: 18px;
}

.keys a{
	display: block;
	height: 32px;
	width: 145px;
	text-align: center;
	border: 1px #8dc9c4 solid;
	background: #63b5ae;
	border-radius: 5px;
	color: #fff;
	font-size: 15px;
	margin: 0px 0px 143px 270px;
	transition: all 0.3s;
}

.keys a:hover{
	background: #e88604;
	color: white;
}

.keys a:active{
	transform: scale(1.3);
}

.cost{
	width: 637px;
	margin-left: 350px;
}

.cost h2{
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	color: #1c2534;
}

.cost h3{
	margin-top: 40px;
	font-size: 23px;
	text-transform: uppercase;
	color: #1c2534;
	font-weight: bold;
}

.cost select{
	background: #eeeeee;
	width: 100%;
	height: 43px;
	transition: all 0.3s;
}

.cost select:hover{
	transform: scale(1.1);
}

.cost p{
	margin-top: 25px;
	border-top: 2px #d1d1d1 solid;
	color: #1c2534;
	font-size: 15px;
	line-height: 25px;
	font-weight: bold;
}

.stat{
	margin-top: 108px;
	width: 100%;
	height: 357px;
	background: url(../img/fon-stat.png);
	background-attachment: fixed;
}

.stat h2{
	padding-top: 40px;
	font-size: 24px;
	color: #323d4f;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
}

.stat1{
	margin-top: 60px;
	margin-left: 210px;
}

.stat1 p{
	color: #323d4f;
	font-size: 35px;
	font-weight: bold;
	margin-top: 22px;
}

.stat span{
	display: block;
	color: #323d4f;
	font-size: 15px;
	font-weight: bold;
	margin-top: 20px;
	text-transform: uppercase;
}

.smile{
	float: left;
	text-align: center;
	width: 190px;
	height: 110px;
	margin-right: 50px;
}

.skobki{
	float: left;
	text-align: center;
	width: 190px;
	height: 110px;
	margin-right: 50px;
}

.ok{
	float: left;
	text-align: center;
	width: 190px;
	height: 110px;
	margin-right: 50px;
}

.cup{
	float: left;
	text-align: center;
	width: 190px;
	height: 110px;
	margin-right: 50px;
}

.reviews{
	margin-top: 77px;
}

.reviews h2{
	font-size: 24px;
	color: #1c2534;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
}

.reviews img{
	display: block;
	margin: 43px auto 0px auto;
}

.reviews span{
	display: block;
	margin-top: 25px;
	color: #243042;
	text-align: center;
	font-weight: bold;
}

.reviews p{
	margin-top: 25px;
	color: #243042;
	text-align: center;
	font-weight: bold;
}

.radio{
	text-align: center;
	margin-top: 35px;
}

.contacts{
	margin-top: 64px;
	background: url(../img/contacts.png);
	height: 577px;
}

.contacts h2{
	padding-top: 77px;
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
}

.contacts span{
	display: block;
	margin-top: 22px;
	text-align: center;
	color: #fff;
}

.contacts1{
	margin-top: 34px;
	margin-left: 464px;
	height: 70px;
}

.contacts p{
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	margin-top: 10px;
}

.geo{
	float: left;
	text-align: center;
	height: 110px;
	margin-right: 50px;
}

.letter{
	float: left;
	text-align: center;
	height: 110px;
	margin-right: 50px;
}

.phone{
	float: left;
	text-align: center;
	height: 110px;
	margin-right: 50px;
}

.message h3{
	margin-bottom: 31px;
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
}

.message {
	width: 600px;
	float: left;
	text-align: center;
	margin-left: 380px;
}

.message input{
	height: 27px;
	width: 252px;
	background-color: #d3d6dc;
	margin-bottom: 8px;
	border-radius: 5px;
}

.submit{
	margin-left: 163.5px;
}

.submit input{
	float: left;
	margin-right: 10px;
	width: 130px;
	border: 1px solid #d3d6dc;
	border-radius: 5px;
	color: white;
	background: none;
}

.submit input:hover{
	background-color: #e88604;
}

.submit input:active{
	transform: scale(1.1);
}

.message textarea{	
	margin-bottom: 18px;
	background-color: #d3d6dc;
	border-radius: 5px;
}

.map{
	background: url(../img/map.png);
	width: 100%;
	height: 255px;
	padding-top: 50px;
}

.map p{
	font-size: 14px;
	padding: 15px;
	border: 1px solid;
	width: 100px;
	background-color: #fff;
	font-weight: bold;
	margin-left: 614px;
	margin-top: 50px;
	box-shadow: 0px 5px 10px 1px grey;
}
